name: "Deploy Docs"
on: 
- push

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    
# Sphinx current version not supported
# https://github.com/ammaraskar/sphinx-action/issues/25

#    - uses: ammaraskar/sphinx-action@master
#      with:
#        docs-folder: "docs/"
#        pre-build-command: "pip install sphinx_rtd_theme sphinx-press-theme"
# TODO: next line is not supported
#        sphinx-version: "4.0.2"
#    - uses: actions/upload-artifact@v1
#      with:
#        name: DocumentationHTML
#        path: docs/_build/html/

    - name: Deploy to S3
      run: |
        aws s3 sync ./_build/html s3://docs.takeprofit.fi --delete
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}


